<h1>New Reward</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.reward_path(@conn, :create, %{"to_id" => @to_id})) %>

<span><%= link "Back", to: Routes.reward_path(@conn, :index) %></span>
