<h1>Show Reward</h1>

<ul>

  <li>
    <strong>Amount:</strong>
    <%= @reward.amount %>
  </li>
  <li>
    <strong>From:</strong>
    <%= @reward.from_id %>
  </li>
  <li>
    <strong>To:</strong>
    <%= @reward.to_id %>
  </li>

</ul>

<span><%= link "Back", to: Routes.reward_path(@conn, :index) %></span>
