
body {
	 background-color: #bdc3c7;
}
 .table-fixed {
  font-size: 20px;
	 width: 100%;
	 background-color: #f3f3f3;
}
 .table-fixed tbody {
	 max-height: 1000px;
	 overflow-y: auto;
	 width: 100%;
}

 .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
	 display: block;
}
 .table-fixed thead tr th {
   min-height: 50px;
   text-align: center;
	 float: left;
	 background-color: gray;
	 border-color: gray;
}
 .table-fixed tbody td {
   min-height: 50px;
	 text-align: center;
   float: left;
}

.btn {
  font-size: 15px;
}